/* Universal setting for the whole page*/
* {
    box-sizing: border-box;
}
b {
    font-weight: bold;
}
i {
    font-style: italic;
}
html{
    height: 100%;
    width: 100%
}
body {
    font: normal 14px Arial, Helvetica, sans-serif; 
    line-height: 1.5;
    background-color: #252525;
    color: #fff;
    height: 100%;
}
#wrapper {
    overflow: auto;
    position: relative;
    height: 100%;
}
/*Page layout using column classes.  2 columns for view greater than 601px and 1 column for views less than 600*/

.col-0 {
    width: 30%;
    height: 100%;
    padding: 0% 0% 0% 0%;
    background-color: #454545;
    overflow: inherit;
}
.col-1{
    width: 70%;
    overflow: inherit;
}
[class*="col-"] {
    float: left;
    padding: 1%;
}
/* Formatting for top level elements.  Maybe over written by id or class*/
h1, h2, h3, h4{
    font-weight: bold;
}
h1 {
    font-size: 2.5em;
}
h2 {
    font-size: 2em;
}
h3 {
    padding-top: 2.5%;
    font-size: 1.2em;
}
img {
    display: block;
    max-width: 100%;
    width: auto;
}
img:hover {
    opacity: 0.5;
}
a {
    color: #963a51;
}
a:hover{
    color: #dd5476;
}
ul {
    text-indent: 2.5%;
}
ul li {
    padding: 1% 1% 1% 1%;
}
ol {
    text-indent: 2.5%;
}
/*Set the screen width for mobile*/
@media only screen and (max-width: 600px){
    [class*="col-"] {
        width: 100%;
        clear: both;
        overflow: hidden;
    }
    img {
        float: left;
    }
}