/* Universal setting for the whole page*/
* {
    box-sizing: border-box;
}
html{
    height: 100%;
    width: 100%
}
body {
    font: normal 14px Arial, Helvetica, sans-serif; 
    line-height: 1.5;
    background-color: #252525;
    color: #fff;
    height: 100%;
}
/*Page layout using column classes.  2 columns for view greater than 601px and 1 column for views less than 600*/
#container {
    height: 100%;
}
.col-0 {
    width: 30%;
    height: 100%;
    padding: 0 0 0 0;
    background-color: #454545;
}
.col-1{
    width: 70%;
}
[class*="col-"] {
    float: left;
    padding: 1%;
}
@media only screen and (max-width: 600px){
    [class*="col-"] {
        width: 100%;
    }
}
/* Formatting for headings, imgs and text*/
h1, h2, h3, h4{
    font-weight: bold;
}
h3 {
    font-size: 2em;
}
h4 {
    font-size: 1.2em;
}
#education ul {
    font-size: 2em;
}
#favs h4 {
    padding-top: 10%;
}
img {
    max-width: 100%;
    width: auto;
}
img:hover {
    opacity: 0.5;
}
/*working on it*/
a {
    color: #963a51;
}
a:hover{
    color: #dd5476;
}